*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg{
    background-image: url(Sandy-pic-2.JPG);
    background-size: cover;
}
.header{
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
    color: aliceblue;
    /* background-color: gray; */
}
.banner{
    width: 100%;
    height: 700px;

    display: flex;
    flex-direction: row;
}
.banner-child-1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 50%;
    height: 80%;
    border: 2px solid gray;
    border-radius: 10px;
}
.banner-child-2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;

}
.name{
    font-size: 70px;
    font-weight: 600;
    color: blueviolet;
}
.follows{
    width: 100%;
    /* background-color: rgb(164, 164, 164); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
}
.name:hover{
    font-weight: 800;
}
.link{
    width: 18%;
    height: 200px;
    padding: 7%;
    display: flex;
    align-items: center;
}
.symbol-1{
    font-size: 60px;
    color: blueviolet;
}
.symbol-1:hover{
    transform: scale(2);
    transition: .5s;
}
.symbol-2{
    font-size: 60px;
    color: green;
}
.symbol-2:hover{
    transform: scale(2);
    transition: .5s;
}
.symbol-3{
    font-size: 60px;
    color: blue;
}
.symbol-3:hover{
    transform: scale(2);
    transition: .5s;
}
.symbol-4{
    font-size: 60px;
    color: black;
}
.symbol-4:hover{
    transform: scale(2);
    transition: .5s;
}
.footer{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;


}
.footer-child{
    width: 50%;
    height: 100%;
    background-color: rgb(177, 177, 177);
    padding: 50px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    caret-color: black;
}
.form{
    width: 100%;
    height: 100%;
}
.ip{
    width: 80%;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(177, 177, 177);
    color: black;
    outline: none;
}
.ip:active{
    border: 1px solid black;

}
.txt{
    width: 80%;
    height: 200px;
    background-color: rgb(177, 177, 177);
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;

}
.send-button{
    width: 80%;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px gray;
}
.send-button:hover{
    background-color: gray;
    border: 2px solid black;
}
.send-button:active{
    transform: translateY(3px);
}
.heading{
    margin-bottom: 15px;
}
::placeholder{
    color: black;
}
.footer-child-2{
    width: 50%;
    height: 100%;
    background-color: rgb(177, 177, 177);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 12%;
    padding-top: 6%;
}
.footer-links{
    text-decoration: dotted;
    color: black;

}
.footer-links:hover{
    color: blue;
}